@charset "UTF-8";

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

#pitufo-roco
media-align{
  center: false;
}

#navegar{
  padding: 0.5rem;
  text-align: right;
  border: 1px solid #898;
}


