@charset "UTF-8";

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

#pitufo-roco
media-align{
  center: false;
}

#navegar{
  padding: 0.5rem;
  text-align: right;
  border: 1px solid #898;
}
